{% extends "base.html" %}

{% block content %}

<h1>{{ list.list_name }}</h1>
<h2>By: {{ list.author.username }}</h2>

{% if list.creator_id == current_user.user_id %}

<a href="{{ url_for('add_list_permission', list_id=list.list_id) }}">Add List Permission</a>

<h3>Add Item</h3>

<form action="" method="post">
    {{ add_item_form.hidden_tag() }}
    <p>
        {{ add_item_form.item_name.label }}<br>
        {{ add_item_form.item_name(size=64) }}<br>
        {% for error in add_item_form.item_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_item_form.description.label }}<br>
        {{ add_item_form.description(cols=50, rows=5) }}<br>
        {% for error in add_item_form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_item_form.link_url.label }}<br>
        {{ add_item_form.link_url(size=256) }}<br>
        {% for error in add_item_form.link_url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ add_item_form.submit }}</p>
</form>
{% endif %}
{% if list_items|length > 0 %}

<div id="list_container"></div>

<script type="text/javascript">
    var list_id = '{{ list.list_id }}'
    var user_id = '{{ user_id }}'
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>

</script>

{% endif %}


{% endblock %}