{% extends "base.html" %}

{% block content %}

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/static/test.js"></script>
<h1>{{ list.list_name }}</h1>
<h2>By: {{ list.author.username }}</h2>
{% if list.creator_id == current_user.user_id %}
<form action="" method="post">
    {{ add_item_form.hidden_tag() }}
    <p>
        {{ add_item_form.item_name.label }}<br>
        {{ add_item_form.item_name(size=64) }}<br>
        {% for error in add_item_form.item_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_item_form.description.label }}<br>
        {{ add_item_form.description(cols=50, rows=5) }}<br>
        {% for error in add_item_form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ add_item_form.link_url.label }}<br>
        {{ add_item_form.link_url(size=256) }}<br>
        {% for error in add_item_form.link_url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ add_item_form.submit }}</p>
</form>
{% endif %}
<table>
    {% for item in list_items %}
    <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.description or ''}}</td>
        <td><button onclick="getClaimHandler('{{ item.list_item_id }}')">Test</button> </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}