{% extends "base.html" %}

{% block content %}

<h1>My Lists</h1>
<a href="{{ url_for('create_list')}}">Create New List</a>
{% if my_lists|length > 0 %}
<table>
    <tr>
    <th>
        List Name
    </th>
    <th>
        Number of Items
    </th>
    <th>
        List Creation Timestamp
    </th>
    </tr>
    {% for list in my_lists %}
    <tr>
        <td>
            <a href="{{ url_for('edit_list', list_id=list.list_id) }}">{{ list.list_name }}</a>
        </td>
        <td>
            {{ list.list_items|length }}
        </td>
        <td>
            {{ list.create_timestamp }}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You don't seem to have any lists - try creating one!</p>
{% endif %}
<br>

{% if lists_with_permission|length > 0 %}
<h1>Lists You Have Permissions On</h1>
<table>
    <tr>
    <th>
        List Name
    </th>
    <th>
        Number of Items
    </th>
    <th>
        List Creation Timestamp
    </th>
    </tr>
    {% for list in lists_with_permission %}
    <tr>
        <td>
            <a href="{{ url_for('edit_list', list_id=list.list_id) }}">{{ list.list_name }}</a>
        </td>
        <td>
            {{ list.list_items|length }}
        </td>
        <td>
            {{ list.create_timestamp }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock%}